* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.content {
  border: 2px solid black;
}

.image {
  border: 2px solid black;
}

.image img {
  width: 100%;
  max-width: 800px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
